<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link stile css -->
    <link rel="stylesheet" href="./stye.css">
    <!-- link cdn FONTAWSOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- link Vue development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Boolzapp</title>
</head>
<body>
    <!-- 'app' è solo la finestra di Boolzapp -->
    <div id="app" class="container">
        <!-- parte di sx -->
        <aside>
            <section class="aside_up">
                <div class="contatto"> 
                    <!-- prima opzione -->
                    <img :src="'./img/avatar' + user.avatar + '.jpg'" alt="foto_avatar">
                    <!-- seconda opzione -->
                    <!-- <img src="./img/avatar.jpg" alt=""> -->
                    <h4>{{user.name}}</h4>
                </div>  
                <div class="icone">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </section>
            <section class="notifiche">
                <div class="iconaCampanella">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div class="warning">
                   <p> Ricevi modifiche di nuovi messaggi</p>
                   <p><a href="">Attiva notifiche desktop</a></p>
                </div>
            </section>
            <section class="bar_ricerca">
                <i class="fas fa-search"></i>
                <input type="text" placeholder=" Cerca o inizia una nuova chat">
            </section>
            <section class="lista_contatti" >
                <div :class="['contatto', index === contattoAttivo ? 'active' : '']" 
                    v-for="(contact, index) in contacts"
                    @click = "setContattoAttivo(index)">
                    <img :src="`./img/avatar${contact.avatar}.jpg`" alt="foto_avatar">
                    <h4>{{contact.name}}</h4>
                </div>
                
                
            </section>
        </aside>

        <!-- parte di dx -->
        <main>
            <section class="main_up">
                <!-- <div class="contatto">
                    <img src="./img/avatar_1.jpg" alt="foto_avatar">
                    <div>
                        <h4>{{contacts[0].name}}</h4>
                        <h6>Ultimo accesso oggi alle 10.35</h6>
                    </div>    
                <div>
                
                <div class="icone">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div> -->
                
                <div class="contatto">
                    <!-- altra opzione:
                        <img :src="`./img/avatar${contacts[contattoAttivo].avatar}.jpg`">
                    -->
                    <img :src="'./img/avatar' + contacts[contattoAttivo].avatar + '.jpg'" :alt="contacts[contattoAttivo].name">
                    <div>
                        <h4>{{contacts[contattoAttivo].name}}</h4>
                        <h6>Ultimo accesso oggi alle 10.35</h6>
                    </div>
                </div>
                <div class="icone">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>


            </section>
            <section class="main_center">
                <!-- messaggi -->
                <div :class="['messaggio', message.status]" 
                    v-for="message in contacts[contattoAttivo].messages">
                    <div class="testo-msg">
                        <!-- primo message è l'oggetto, l'altro è l'attributo! -->
                        {{message.message}}
                    </div>
                    <div class="tempo-msg">
                        {{message.date}}
                    </div>
                </div>
            </section>
            <section class="main_down">
                <div class="faccina">
                    <i class="fas fa-smile"></i>
                </div>
                <div class="scrivi">
                    <input type="text" 
                        placeholder="Scrivi un messaggio"
                        v-model="nuovoMessaggio"
                        @keyup.enter="invioMessaggio"
                    >
                </div>
                <div class="mic">
                    <i class="fas fa-microphone"></i>
                </div>
            </section>
        </main>
    </div>

    <!-- link js -->
    <!-- day.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.6/dayjs.min.js"></script>
    <script src="./main.js"></script>
</body>
</html>