*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom,
                #009988 20%,
                #d5dbd7 20%,
                #d6dbd6 100%)   
}


/* UTILITIES */
img{
    width: 40px;
    border-radius: 100%;
}


/* LAYOUT */
.container{
    display: flex;   
    width: 1500px;
    background-color: white;
    height: 90%;
}

/* ASIDE */
aside{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    background-color: pink;

}

aside .aside_up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 7%;
    background-color: green;
    padding: 10px;
}

aside .aside_up .utente{
    display: flex;
    align-items: center;
    background-color: grey;
}

aside .aside_up .utente img{
    margin-right: 10px;
}

aside .aside_up .icone {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    flex-basis: 70px;
}


aside .notifiche{
    flex-basis: 7%;
    background-color: grey;
    padding: 10px;
}

aside .bar_ricerca{
    flex-basis: 5%;
    background-color: lightblue;
    padding: 10px;
}

aside .lista_contatti{
    flex-grow: 1;
    background-color: white;
    padding: 10px;
}

main{
    flex-basis: 70%;
    background-color: orange;
}


/* MAIN */
main{
    display: flex;
    flex-direction: column;
}

main .main_up{
    flex-basis: 7%;
    background-color: grey;
    padding: 10px;
}

main .main_center{
    flex-grow: 1;
}

main .main_down{
    flex-basis: 8%;
    background-color: grey;
    padding: 10px;
}