*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom,
                #009988 20%,
                #d5dbd7 20%,
                #d6dbd6 100%)   
}


/* UTILITIES */
img{
    width: 40px;
    border-radius: 100%;
}

i{
    color: #b1b1b1;
}

.icone {
    display: flex;
    justify-content: space-between;
    flex-basis: 70px; 
    margin-right: 10px;
    cursor: pointer;
}

.contatto{
    display: flex;
    align-items: center;
}
.contatto img{
    margin-right: 10px;
}

.active{
    background-color: lightgrey;
    width: 100%;
    height: 70px;
}

.messaggio {   
    position: relative;
    max-width: 300px;
    min-height: 55px;
    padding: 10px;
    margin: 20px;
    margin-bottom: 9px;
    border-radius: 10px;
}

.sent {
    position: relative;
    left: 60%;
    background-color: #d4efc1;
}

.received{
    background-color: #e8edea;
}

.tempo-msg{
    font-size: 14px;
    color: #2c2b30;
    position: absolute;
    right: 5px;
    bottom: 6px;
}


/* LAYOUT */
.container{
    display: flex;   
    width: 1500px;
    background-color: white;
    height: 90%;
}

/* ASIDE/ASIDE_UP */
aside{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    background-color: pink;

}

aside .aside_up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 7%;
    background-color: #eaeaea;
    padding: 10px;
}

/* aside .aside_up .utente{
    display: flex;
    align-items: center; */
    /* background-color: grey; debug */
/* } */

/* aside .aside_up .utente img{
    margin-right: 10px;
} */





/* ASIDE/NOTIFICHE */
aside .notifiche{
    display: flex;
    align-items: center;
    flex-basis: 7%;
    background-color: #74dcff;
    padding: 10px;
}

/* aside .notifiche i{
    background-color: white;
    border-radius: 100%;
    height: 30px;
    width: 30px;
} */

aside .notifiche .iconaCampanella {
    position: relative;
    background-color: white;
    border-radius: 100%;
    min-height: 30px;
    min-width: 30px;
}

aside .notifiche .iconaCampanella i{
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


aside .notifiche .warning{
    /* background-color: lightblue; debug */
    margin-left: 20px;
}

aside .notifiche .warning a{
    color: #44798b;
}



/* ASIDE/BAR_RICERCA */
aside .bar_ricerca{
    flex-basis: 5%;
    display: flex;
    background-color: #f5f5f5;
    padding: 10px;
    
}
aside .bar_ricerca i{
    margin-top: 5px;
}
aside .bar_ricerca input{
    width: 95%;
    padding: 5px;
    margin-left: 5px;
}


/* ASIDE/LISTA_CONTATTI */
aside .lista_contatti{
    flex-grow: 1;
    background-color: white;
    overflow-y: auto;
}

aside .lista_contatti .contatto{
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

/* aside .lista_contatti .contatto img{
    margin-right: 10px;
} */



/* MAIN */

main{
    flex-basis: 70%;
    background-color: orange;
}


/* MAIN/MAIN_UP */
main{
    display: flex;
    flex-direction: column;
}

main .main_up{
    display: flex;
    justify-content: space-between;
    flex-basis: 7%;
    align-items: center;
    background-color: lightblue;
    background-color: #eaeaea;
    padding: 10px;
}

main .main_center{
    flex-grow: 1;
    background-image: url(./img/mine.jpg);
    overflow-y: auto;
}





/* MAIN/MAIND_DOWN */
main .main_down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 8%;
    background-color: #f4eeea;
    padding: 10px;
}

main .main_down .faccina {
    /* background-color: pink; */
    margin-left: 50px;
    margin-right: 30px;
    color: #788183;
}

main .main_down .scrivi input{
    width:900px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
}

main .main_down .mic {
    /* background-color: pink; */
    margin-right: 30px;
    margin-left: 30px;
    color: #788183;
}